<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<h3>Simple social network</h3>
<div id="app"></div>
<script src="/js/main.js"></script>
</body>
</html>